<h2 class="profile-welcome"> Hello <%= current_user.fname %>!</h2>

<br>
<div id="user-<%= @user.id %>" class="row">
  <div class="col-lg-3">

    <div class= "profile-pic"><%= image_tag @user.avatar.url(:medium) %></div>
 
  </div>
  <div class="col-lg-6">
    <div id="activities">
      <% if @activities.empty? %>
        <div class="well">
        
        </div>
      <% else %>
    
      <% end %>
    </div>
  </div> 

  <div class="col-lg-3">
    <% if current_user %>
      <div class="well">
        <ul class="nav nav-pills nav-stacked">
       
          <li><%= link_to 'Following', users_follow_path(@user) %></li>
          <li><%= link_to 'Followers', users_followers_path(@user)%></li>
          <li><%= link_to 'Create a New Event', new_event_path %></li>
          <li><%= link_to 'My Events', events_my_events_path %></li>
          <li><%= link_to 'Edit your Account', edit_user_registration_path %></li>
        </ul>
      </div>
    <% end %>
  </div>
</div>